/* General CSS */
body    {
    background-image: url("images/background.jpg");
}
/* Navbar CSS */
.container-fluid    {
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
}

#mname   {
    font-size: 30px;
    background-color:#00cc7a;
    color: white;
    font-family:'Dancing Script', cursive;
}

/* Content CSS */
.col-6  {
    background-color:white;
    width: 65%;
    height:700px;
    padding: 5%;
    border-radius: 25px;
}

.container  {
    margin-left: 50px;
    margin-top: 70px;
    height: 700px;  
}

/* Information / image */
#about  {
    font-size: 75px;
    color: #00cc7a;
}

#aboutp {
    width: 50%;
    border-radius: 8px;
    float: left;
    margin-right: 50px;
}

#maininfo   {
    text-align: justify;
    margin-bottom: 75px;
}

#sinfo  {
    text-align: justify;
}
 
/* PORTFOLIO CSS */
/* PORTFOLIO CSS */
/* PORTFOLIO CSS */

#about2  {
    font-size: 50px;
    color: #00cc7a;
}

.portfolioim   {
    width: 250px;
    margin: 2%;
}

.col-6-picture   {
    background-color:white;
    width: 65%;
    height:1000px;
    padding: 5%;
    border-radius: 25px;
}

/* Media Display changes */
/* Media Display changes */
/* Media Display changes */

@media only screen and (max-width: 990px) {
    .col-6  {
        background-color:white;
        width: 100%;
        height:700px;
        padding: 5%;
        border-radius: 25px;
    }
 
    }
@media only screen and (max-width: 600px) {

    .col-6  {
     background-color:white;
     width: 100%;
     height:800px;
     padding: 5%;
     border-radius: 25px;
 }
 }

@media only screen and (max-width: 990px) {

    .col-6-picture  {
        background-color:white;
        width: 100%;
        height:1000px;
        padding: 5%;
        border-radius: 25px;
    }
    }

@media only screen and (max-width: 700px) {

    .col-6-picture  {
        background-color:white;
        width: 100%;
        height:1500px;      
        padding: 5%;
        border-radius: 25px;
}
}   

@media only screen and (max-width: 600px) {

    .col-6-picture  {
        background-color:white;
        width: 100%;
        height:1500px;
        padding: 5%;
        border-radius: 25px;
 }
 }
 